*{
    box-sizing: border-box;
}
body{
    background-image:linear-gradient(
        0deg,
     rgb(207, 245, 236),
     rgb(249, 212, 241));
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
body h1{
    color: #403143;
    box-shadow:3px 3px 10px 3px rgba(167, 186, 138, 0.8);
    padding: 10px 15px;
    background-color: #fff2f5;
    border-radius: 6px;
    margin-bottom: 33px;
}
.music-container{
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    box-shadow: 0 20px 20px 0 rgba(125, 105, 132, 0.8);
    z-index: 10;
    position: relative;
    padding: 20px 30px;
    margin: 100px 0;
    height: 18vh;
    width: 30vw;
}
.img-container{
    position: relative;
    width: 110px;
}
.img-container img{
    width: inherit;
    border-radius: 50%;
    height: 110px;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
}
.music-container.play .img-container img{
    animation-play-state: running;
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}
.navigation{
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
}
.action{
    border: 0;
    background-color: #fff;
    color: #e8e0e8;
    cursor: pointer;
    font-size: 20px;
    padding: 20px;
    margin-left:10px;
}
.navigation :nth-child(2){
    font-size: 30px;
    color: #cdbfd1;
}
.music-info{
    line-height: 25px;
    background-color: rgba(255, 249, 249, 0.4);
    z-index: 0;
    position: absolute;
    top: 0;
    left: 25px;
    padding: 10px 10px 10px 150px;
    border-radius: 15px 15px 0 0;
    transform: translateY(0%);
    opacity: 0;
}
.music-container.play .music-info{
    transform: translateY(-100%);
    opacity: 1;
}
.timeline-container{
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    height: 4px;
    margin: 10px 0;
    cursor: pointer;
}
.timeline{
    background-color: #fe8daa;
    border-radius: 5px;
    width: 0%;
    height: 100%;
}
.color{
    color: blueviolet;
}
.num{
    font-size: 15px;
}
.volume-container{
    position: absolute;
    left:-80px;
    top: 50px;
    width: 100%;
    height: 15px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.volume-container img{
    width: 15px;
    height: 16px;
    margin: 0 5px;
}
.slider{
    width: 90px;
    height: 1px;
    position: relative;
    outline: none;
    z-index: 10;
    background-color: #fff;
    border-radius: 10px;
}
